* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: lightgray;
}

#container {
    height: 63px;
    margin: 0 auto;
    background-color: white;
}

#container-logo {
    vertical-align: bottom;
    padding-left: 20px;
}

#logo-text {
    font-size: 40px;
}

