* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: lightgray;
}

#container {
    height: 63px;
    margin: 0 auto;
    background-color: white;
}

#container-logo {
    vertical-align: bottom;
    padding-left: 20px;
}

#logo-text {
    font-size: 40px;
}

#container-main {
    width: 65%;
    height: 52px;
    margin-top: 45px;
    background-color: white;
    border-radius: 4px 4px 0 0;
}

.button {
    display: inline-block;
    margin-top: 9px;
    height: 37px;
    width: 96px;
    text-align: center;
    vertical-align: middle;
    padding-top: 9px;
    border-radius: 5px;
    font-size: 13px;
}

.task {
    margin-left: 50px;
    color: white;
    background-color: #51c5ff;
    padding-top: 12px;

}

.section {
    margin-left: 4px;
    color: lightgrey;
    border-style: solid;
}

hr {
    width: 100%;
    margin: 5px auto;
    border: 1px solid lightgrey;
}

#container-task {
    width: 100%;
    height: auto;
    margin-top: -5px;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
}

h2 {
    padding-left: 47px;
    padding-top: 30px;
    color: #1d1d1d;
}

.to-do-entries {
    padding-left: 47px;
    padding-top: 10px;
    color: #474747;
}

.check {
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 50%;
    padding: 2px 4px 3px 7px;
    text-align: left;
    font-size: 15px;
}

.delete {
    color: rgb(255, 104, 104);
    border: 1px solid rgb(255, 104, 104);
    border-radius: 50%;
    padding: 2px 0px 3px 7px;
    text-align: center;
    font-size: 14px;
}